*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.center{
    display: flex;
    max-width: 1100px;
    padding:0 2%;
    margin:0 auto;
    flex-wrap: wrap;
}

header.main{
    background-image: url(images/bgimgconfirme.png);
    background-position: center;
    background-size: cover;
    padding: 20px 0 8px 0;
}

.menu{display: flex;width: 100%;}

.titulo{
    width: 50%;
}

.titulo h1{
    color: #9d4f02;
    text-align: center;
    padding-top: 40px;
    font-size: 44px;
}

.logo-menu{width: 50%;}

.logo-menu img{width: 130px; height: 130px;}

.items-menu{
    width: 50%;
    text-align: right;
}

.items-menu a{
    font-weight: bold;
    color: #9d4f02;
    text-decoration: none;
    display: block;
    margin: 10 10px;
}

.items-menu a:hover{
    border-bottom: 3px solid #eddcd2;
}

.items-menu a.confirmar-btn{
    background-color: #9d4f02;
    width: 50%;
    margin-left: 170px;
    color: #eddcd2;
    padding: 10px 10px;
    border-radius: 10px;
}

.items-menu a.confirmar-btn:hover{
    border: 0;
}

.linha{
    width: 100%;
    height: 40px;
    background-image: url(images/teddyhalf.png);
    background-position: center;
    background-size: 1280px 40px;
    
}

section.info{
    background-image: url(images/bgimg.png);
    background-position: center;
    background-size: cover;
    padding: 20px 0 8px 0;
}   
.explicacao{
    display: flex;
    width: 100%;
    color: #9d4f02;
    text-align: center;
    padding-top: 40px;

}


.tituloexp{
    display: block;
    width: 50%;
}

.tituloexp p{
    font-size: 20px;
    text-align: justify;

}

p.destaque{
    font-weight: bold;
}

.imgexp{
    width: 50%;
    padding: 20px 40px;
    display: inline-block;
    
}

.imgexp img{
    width: 100%;
    height: 580px;
    max-width: 100%;
    border-style: outset;
    border-width: 3px;
    border-color: #9d4f02;
}

section.confirmep form{
    width: 100%;
}

section.confirmep{
    background: url(images/bgimgconfirme.png);
    padding: 40px 0;
    text-align: center;

}

section.confirmep h1{
    font-size: 50px;
    color: #9d4f02;
    font-weight: bold;
}

.confirmep input[type=text],
.confirmep input[type=email]{
    width: 100%;
    height: 50px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #eddcd2;
    border: 1px solid #9d4f02;
    padding-left: 10px;
}

.confirmep textarea{
    width: 100%;
    height: 120px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #eddcd2;
    border: 1px solid #9d4f02;
    padding: 10px;
    resize: vertical;
}

.confirmep input[type=submit]{
    width: 100%;
    height: 50px;
    display: block;
    cursor: pointer;
    border: 1px solid #9d4f02;
    background-color: #ABC19D;
    font-size: 18px;
    color: #9d4f02;
    font-weight: bold;
    border-radius: 10px;
}

footer{
    background-image: url(images/bgimg.png);
    background-position: center;
    background-size: cover;
    padding: 10px 0;
}

.text-footer{
    width: 50%;
    padding: 8px 0;
}

section.evento{
    width: 100%;
    display: flex;
    background: url(images/bgimgconfirme.png);
    padding: 40px 0;
    text-align: center;
}

.mapa{
    display: flex;
    width: 50%;
    border: #9d4f02;
    border-style: outset;
    border-width: 3px;
}


.endereco{
    display: inline-block;
    width: 50%;
    color: #9d4f02;
}

.endereco h1{
    font-size: 36px;
}

.endereco p{
    font-size: 20px;
}

.filho{
    text-align: left;
    color: #9d4f02;
}

.filho p.maiores{
    font-size: 12px;
}

section.lista-de-presentes{
    width: 100%;
    background-image: url(images/bgimg.png);
    padding: 40px 0;
    text-align: center;
    display: flex;
}

.lista-txt{
    width: 40%;
}

.lista-btn{
    width: 60%;
}

.lista-btn img.pixqrcode{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: #9d4f02;
}

.lista-btn img.pix{
    width: 180px;
    height: 70px;
    margin-bottom: 120px;
    margin-right: 100px;
}

.pagto{
    display: inline-block;
}

.pagto p{
    color: #9d4f02;
    font-weight: bold;
    margin-left: 280px;
    
}

.lista-btn a{
    font-weight: bold;
    color: #9d4f02;
    text-decoration: none;
    display: block;
    margin: 0 10px;
}

.lista-btn a:hover{
    border-bottom: 2px solid #eddcd2;
}

.lista-btn a.lbtn{
    background-color: #9d4f02;
    color: #eddcd2;
    padding: 10px 10px;
    margin: 20px;
    border-radius: 10px;
}

.lista-btn a.lista-btn:hover{
    border: 0;
}

.lista-titulo{
    width: 100%;
}

.lista-titulo h1{
    font-size: 40px;
    text-align: center;
    color: #9d4f02;
    display: inline-block;
}

.lista-txt p, section.confirmep p{
    font-size: 20px;
    text-align: justify;
    color: #9d4f02;
}

footer.main{
    background-image: url(images/bgimg.png);
    background-position: center;
    background-size: cover;
    padding: 20px 0 8px 0;
}

.fdiv{
    width: 100%;
    text-align: right;
    padding-bottom: 30px;
}

.fdiv a{
    font-weight: bold;
    color: #9d4f02;
    text-decoration: none;
    margin: 10px 10px;
}

.fdiv a:hover{
    border-bottom: 2px solid #eddcd2;
}

.fdiv a.footer-btn{
    background-color: #9d4f02;
    color: #eddcd2;
    padding: 10px 10px;
    border-radius: 10px;
}

.fdiv a.footer-btn:hover{
    border: 0;
}

.items-menu-mobile{
    width:50%;
    text-align: right;
    display: none;
}

.items-menu-mobile i{
    color:#9d4f02;
    position: relative;
    top:15px;
    font-size: 23px;
    cursor: pointer;
}

.lista-titulo h1{
    margin-bottom: 15px;
}




@media screen and (max-width: 768px) {

    .items-menu-mobile{
        display: block;
       
    }

    .menu-mobile{
        
        opacity: 0;
        transition: 1s;
        position: absolute;
        left:0;
        top:65px;
        background-color: #eddcd2;
        width:100%;
        padding:15px 0;
        text-align: center;
    }

    .show{
        opacity: 1;
    }
    .hide{
        opacity: 0;
    }

    .menu-mobile a{
        text-align: center;
        display: block;
        margin:8px 0;
        color:#9d4f02;
        text-decoration: none;
        font-weight: bold;
        border-bottom:1px solid #ABC19D;
        padding:8px 0;
    }


.items-menu{
    display: none;
}

.explicacao, section.lista-de-presentes, .explicacao, section.evento .center, .pagto{
    display: block;
}

.tituloexp, .imgexp, .lista-txt, .lista-btn,.pix, .pixqrcode, .evento, .mapa, .imgexp{
    width: 100%;
}

.fdiv, section.evento .center, .pagto{
    width:100%;
    text-align: center;
}

.pagto p{
    margin-left: 0;
}

.pagto img.pix, .endereco{
    width: 100%;
    margin-bottom: 15px;
}

.imgexp img{
    width: 100%;
    height: 30%;
    
}

}